/*time input*/
.timeInputWrap {
  position: relative;
  margin-bottom: 12px;
}

.timeInputLabel {
  display: block;
  margin-left: 4px;
  margin-bottom: 2px;
  color: var(--time-input-label);
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  min-height: 18px;
}

.timeInputWrap .timeInputStyle {
  border-radius: 8px;
  border: 1px solid var(--time-input-bd);
  color: var(--time-input-color);
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  min-height: 48px;
}

.time input {
  cursor: pointer;
}

/*input file*/
.card {
  border-radius: 6px;
  overflow: hidden;
  border: none;
}
.card-body {
}
.btn-primary {
  border-color: #5a8dee !important;
  background-color: #5a8dee !important;
  color: #fff;
}
.form-submit {
  padding: 13px 30px;
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.kb-data-box {
  width: 100%;
  flex: 1;
}

.kb-modal-data-title {
  margin-bottom: 10px;
}
.kb-data-title h6 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
}
.kb-file-upload {
  position: relative;
}
.file-upload-box {
  border-radius: 8px;
  background: var(--file-popup-upload-bg);
  min-height: 148px;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8194aa;
  font-weight: 400;
  font-size: 15px;
}
.file-upload-small-box {
  border-radius: 8px;
  background: var(--file-popup-upload-bg);
  min-height: 148px;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8194aa;
  font-weight: 400;
  font-size: 15px;
}

.kb-file-upload::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border-radius: 8px;
  z-index: 1;
  pointer-events: none;
  border: 1px dashed var(--file-popup-dashed);
}
.selectedFileList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}
.selectedFileSmallList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 8px 10px;
}

.file-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.file-link {
  color: #475f7b;
  text-decoration: underline;
  margin-left: 3px;
}
.file-upload-box .file-link:hover {
  text-decoration: none;
}
.file-atc-box {
  position: relative;
  z-index: 101;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.file-atc-small-box {
  width: 20%;
  position: relative;
  z-index: 101;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.file-image {
  width: 130px;
  height: 85px;
  background-size: cover;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #eaecf1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #475f7b;
  padding: 3px;
}
.file-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}
.TxtFileItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}
.TxtFileTitle {
  margin-top: 4px;
  color: var(--file-item-title);
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.TxtFileSmallTitle {
  margin-top: 4px;
  color: var(--file-item-title);
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.file-detail h6 {
  word-break: break-all;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.file-detail p {
  font-size: 12px;
  color: #8194aa;
  line-height: initial;
  font-weight: 400;
  margin-bottom: 8px;
}
.file-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.file-action-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.file-action-btn:hover {
  color: #3d546f;
  text-decoration: underline;
}
.file-atc-box:last-child {
  margin-bottom: 0;
}

.inputfileSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileExplan {
  margin-top: 4px;
  margin-bottom: 40px;
  color: var(--5, #adb5bd);
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
