.wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 24px;
}

.wrapIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12px, -50%);
  color: var(--7, #495057);
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.wrap:last-child {
  padding-right: 0;
  padding-left: 24px;
}

.wrap:last-child .wrapIcon {
  transform: translate(0, -50%);
}

.TimeUtilsList {
  min-width: 120px;
  border-radius: 8px;
  background: var(--time-utils-list-bg);
  box-shadow: 2px 2px 12px 0px var(--time-utils-list-bs);
}

.TimeUtilsItem button {
  display: flex;
  width: 100%;
  padding: 10px;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-bottom: 1px solid var(--time-utils-list-btn-bd);
}

.TimeUtilsItem:last-child button {
  border-bottom: none;
}

.TimeTxt {
  margin-left: 2px;
}

.TimeUtilsItem.delete button {
  color: var(--time-utils-delete-btn);
}

/*time card*/

.timeCardTitleWrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.timeTitle {
  display: inline-block;
  padding: 2px 8px;
  margin-right: 7px;
  border-radius: 4px;
  background: var(--time-card-title-bg);
  color: var(--time-card-title-color);
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.timeSubTitle {
  color: var(--time-card-subTitle);
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.startEndTimeWrap {
  margin-bottom: 8px;
}

.startEndTime {
  color: var(--time-card-time);
  font-family: "Pretendard", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.timeNoteWrap {
  padding-top: 8px;
  border-top: 1px solid var(--time-card-bt);
}

.timeNote {
  color: var(--time-card-time-note);
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* New schedule(time card add) */
.TimeCardAddWrap {
  margin-top: 8px;
  padding: 9px 24px 24px;
  border-radius: 8px;
  background: var(--time-card-add-bg);
  box-shadow: 2px 2px 8px 0px var(--time-card-add-bs);
}

.TimeCardAddTitle {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: var(--7, #495057);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.TimeCardAddTxt {
  color: var(--time-card-add-title);
  text-align: center;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/*time picker form*/
.timePickerForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timePickerFormDf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timePickerFormIcon {
  display: block;
  padding: 8px 8px 0;
  color: var(--time-input-icon);
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

/* Time Picker */
.timePickerWrap {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid var(--time-utils-list-btn-bd);
  background: var(--time-card-bg);
  box-shadow: 2px 2px 12px 0px var(--time-picker-bs);
}

.timePickerTitleWrap {
  display: flex;
  width: 100%;
}

.timePickerTitle {
  margin-bottom: 17px;
  width: 100%;
}

.timePickerTxt {
  display: block;
  width: 100%;
  margin: 0 4px 12px;
  color: var(--font-color);
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.timePicker {
  display: flex;
  width: 100%;
}

.times {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.times input {
  color: var(--date-picker-title-color);
  text-align: center;
  font-family: "Pretendard";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  box-sizing: border-box;
}

.times input:focus {
  color: var(--card-btn-save-bg);
}

.timesItem {
  width: 64px;
  height: 64px;
  padding: 12px;
  line-height: 40px;
  border-radius: 8px;
  background: var(--time-picker-bg);
  box-sizing: border-box;
}

.timesIcon {
  margin: 0 4px;
  color: var(--date-picker-title-color);
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.timePickerTitleIcon {
  padding-top: 51px;
  margin: 0 19px;
  color: var(--time-picker-font-color);
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
